
body{
    background-color: #000;
    font-family: "Space Grotesk";
}

#square{
    background-color:#fff;
    width: 1100px;
    height: 600px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

#firstHalf{
    width: 320px;
    height: 600px;
}

#secondHalf{
    width: 780px;
    height: 600px;
}

#bg-card-front{
    width: 350px;
    height: 180px;
    position: relative;
    bottom: 520px;
    left: 70px;
    
}

#logo{
    position: relative;
    bottom: 160px;
    left: 30px;
}

#cardpo{
    position: relative;
    bottom: 160px;
    left: 30px;
    font-size: 25px;
    color: #fff;
}

#bg-card-back{
    width: 350px;
    height: 180px;
    position: relative;
    bottom: 480px;
    left: 140px;
}

#secondHalf form{
    width: 370px;
    height: auto;
    margin-left: 300px;
    margin-right: auto;
    margin-top: 150px;
}


#secondHalf form label{
    display: block;
    margin-top: 30px;
    font-size: 10px;
    font-weight:bolder;
    color: hsl(279, 6%, 55%)
}

#secondHalf form input{
    width: 250px;
    height: 22px;
    margin-top: 3px;
    border-color: #bfbfbf;
    border-width: 1px;
    border-radius: 4px;
    font-family: "Space Grotesk";
}

#secondHalf form #title{
    word-spacing: 14px;
}

#secondHalf form #mm{
    width: 45px;
}

#secondHalf form #yy{
    width: 45px;
}

#secondHalf form #cvc{
    width: 140px;
}


#secondHalf form button{
    display: block;
    width: 254px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: "Space Grotesk";
    background-color: hsl(278, 68%, 11%);
    color: hsl(270, 3%, 87%);
    border-style:none;
    border-radius: 4px;
    margin-top: 20px;
}
